In [1]:
import os

print(f"I am running on {os.getenv('SHELL')}")

I am running on /bin/bash

In [2]:
import pandas as pd

df = pd.read_csv("data/ages.csv")
df

     name   age
0    mary    40
1     bob    34
2  lesley    37
3   jacob    88
4   molly    23